{% extends "base.html" %}
{% block body %}
<body>
<h1>Приветствую на странице администратора</h1>
<a href="/admin/add/">Добавить статью</a>
<table>
    <thead>
    <tr>
        <td>
            № статьи
        </td>
        <td>
            Название статьи
        </td>
        <td>
            Дата написания
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            1
        </td>
        <td>
            Наша первая статья
        </td>
        <td>
            29.10.2017
        </td>
    </tr>
    </tbody>
</table>
</body>
{% endblock %}