{% extends "base.html" %}
{% block body %}
<body>
<h1>Приветствую на странице администратора</h1>
<a href="/admin/add/">Добавить статью</a>
<table>
    <thead>
    <tr>
        <td>
            № статьи
        </td>
        <td>
            Название статьи
        </td>
        <td>
            Дата написания
        </td>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>
            {{ post._id }}
        </td>
        <td>
            {{ post.post_title }}
        </td>
        <td>
            {{ post.post_time }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}