<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо всем понемногу...</title>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>
<div class="admin_header">
    <div class="text_admin_header">
        <h1>Панель администратора</h1>
    </div>
</div>
<div class="nav_admin">
    <div class="home_admin">
        <a href="/">На главную</a>
    </div>
    <div class="add_article">
        <a href="/admin/add/">Добавить статью</a>
    </div>
    <div class="logout_admin">
        <a href="/logout/">Выйти</a>
    </div>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table>
    <thead>
    <tr>
        <td>
            № статьи
        </td>
        <td>
            Название статьи
        </td>
        <td>
            Дата написания
        </td>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>
            {{ post._id }}
        </td>
        <td>
            <a href="/post/{{ post._id }}">{{ post.post_title }}</a>
        </td>
        <td>
            {{ post.post_time }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>