{% block comments %}
<form method="post" action="/post/<id_post>/">
    <dl>
        <input type="hidden" name="id" value="{{post._id}}">
        <dt>Пользователь:</dt>
        <dd><input type="text" size="50" name="username" maxlength="20"
        required placeholder="Введите имя"></dd>
        <dt>Комментарий:</dt>
        <dd><textarea name="comment" rows="7" cols="50" maxlength="500"
        required placeholder="Оставьте комментарий"></textarea></dd>
        <dd><input type="submit" value="Отправить"></dd>
    </dl>
</form>
{% endblock %}