<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо всем понемногу...</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
{% if error %}
    <div class="error_login_admin">
        <img src="/static/images/warning.png" class="image_error_login" width="50" height="50">
        <div class="text_error_login">
            <p>{{ error }}</p>
        </div>
    </div>
{% endif %}
<div class='enter_admin_page'>
    <form action="/login/" method="post">
        <p>Логин:
            <input name="login">
        </p>
        <p>Пароль:
            <input name="password" type="password">
        </p>
        <p>
            <input type="submit" value="Войти">
        </p>
    </form>
</div>
</body>
</html>