<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо всем понемногу...</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% if error %}
<h1>{{ error }}</h1>
{% endif %}
<div class='enter-admin-page' align="center">
    <form action="/login/" method="post">
        <p>Логин:
            <input name="login">
        </p>
        <p>Пароль:
            <input name="password" type="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</div>
</body>
</html>