{% extends "base.html" %}
{% block body %}
<body>
<h1>Главная страница</h1>
{% if session['logged_in'] %}
    <a href="/admin/">Admin</a>
{% else %}
    <a href="/login/">Вход</a>
{% endif %}
{% for post in posts %}
    <h3><a href="/post/{{ post._id }}/">{{ post.post_title }}</a></h3>
    <p>{{ post.post_text|two_string }}...<a href="/post/{{ post._id }}/">Читать дальше ></a></p>
    <p>{{ post.post_time }}</p>
    <p>Комментариев: {{ comments|comment_count(post._id) }}</p>
    {% include 'tags.html' %}
{% endfor %}
<!--<p>Статьи с кратким содержанием</p>-->
<!--&lt;!&ndash;// TODO: будет цитироваться 2-3 первые строки и затем далее&ndash;&gt;-->
<!--&lt;!&ndash;// TODO: будет отобратжаться колличество комментариев к статье и теги&ndash;&gt;-->
<!--<a href="/nasha_pervaya_satja">Наша первая статья</a>-->
<!--<p>Flask — фреймворк для создания веб-приложений на языке программирования Python, использующий набор инструментов Werkzeug, а также шаблонизатор Jinja2. Относится к категории так называемых микрофреймворков[en] — минималистичных каркасов веб-приложений, сознательно предоставляющих лишь самые базовые возможности.-->

<!--Поддерживается установка посредством пакетного менеджера PyPI, требует Python 2.6 и выше.-->

<!--Создатель и основной автор — австрийский программист Армин Ронахер, начал работу над проектом в 2010 году.-->

<!--Пример веб-приложения, которое показывает «Hello World!» <a href="/nasha_pervaya_satja">Далее...</a> </p>-->
<!--<p>Комментариев: 0</p>-->
</body>
{% endblock %}
