{% extends "base.html" %}
{% block body %}
<div class="home_page">
	<div class="name_page">
		{% if not tag %}
		<h4 class="">Главная страница</h4>
		{% else %}
		<h4>Результат поиска по тегу: {{ tag }}</h4>
		{% endif %}
	</div>
	<div class="login">
		{% if session['logged_in'] %}
		    <a href="/admin/">Admin</a>
		{% else %}
		    <a href="/login/">Вход</a>
		{% endif %}
	</div>
</div>
<div class="articles">
	{% for post in posts %}
	<div class="article">
	    <h3><a href="/post/{{ post._id }}/">{{ post.post_title }}</a></h3>
	    <p class="post">{{ post.post_text|two_string }}...<a href="/post/{{ post._id }}/">Читать дальше ></a></p>
	    <p class="post_time">{{ post.post_time }}</p>
	    <p class="post_comment">Комментариев: {{ comments|comment_count(post._id) }}</p>
	    {% include 'tags.html' %}
	</div>
	{% endfor %}
</div>
{% endblock %}
